.row
  = render 'navigation_bar'
  %table.table.table-hover
    %thead
      %tr
        %th.col-xs-7 主題
        %th.col-xs-1.center-text 分類
        %th.col-xs-1.center-text 使用者
        %th.col-xs-1.center-text 回覆
        %th.col-xs-1.center-text 觀看
        %th.col-xs-1.center-text 最後回覆
    %tbody
      %tr
        %td.col-xs-7 成大附近有什麼好吃的啊？
        %td.col-xs-1.center-text 修課
        %td.col-xs-1.center-text
          %img.img-circle.img-responsive{:src => "http://www.gravatar.com/avatar/85ac576ec432b7507c38c9687b614f48?s=25"}/
        %td.col-xs-1.center-text 1
        %td.col-xs-1.center-text 123
        %td.col-xs-1.center-text 19h
      %tr
        %td.col-xs-7 成大附近有什麼好吃的啊？
        %td.col-xs-1.center-text 修課
        %td.col-xs-1.center-text
          %img.img-circle.img-responsive{:src => "http://www.gravatar.com/avatar/85ac576ec432b7507c38c9687b614f48?s=25"}/
        %td.col-xs-1.center-text 1
        %td.col-xs-1.center-text 123
        %td.col-xs-1.center-text 19h
      %tr
        %td.col-xs-7 成大附近有什麼好吃的啊？
        %td.col-xs-1.center-text 修課
        %td.col-xs-1.center-text
          %img.img-circle.img-responsive{:src => "http://www.gravatar.com/avatar/85ac576ec432b7507c38c9687b614f48?s=25"}/
        %td.col-xs-1.center-text 1
        %td.col-xs-1.center-text 123
        %td.col-xs-1.center-text 19h
