%nav.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "NCKU+", root_path, class: "brand-name"
      = fa_icon "reorder", class: "menu-switch", id: "show-menu"
      %i.glyphicon.glyphicon-menu-right.menu-switch#hide-menu
      %div#sidebar
        %ul.main-menu
          %li
            - if user_signed_in?
              = link_to destroy_user_session_path, method: :delete do
                %i.fa.fa-sign-out
                登出
            - else
              = link_to user_omniauth_authorize_path(:facebook) do
                %i.fa.fa-facebook
                Facebook 登入

