//= require_self
//= require_tree

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  padding-top: 50px;
}

#facebook-button {
  background: #3b5998;
  color: white;
}

#google-button {
  background: #da2d65;
  color: white;
}

