@import "bootstrap/variables";

@mixin distance-between-avatar-text {
  padding-left: 10px;
}

#new-topic {
  float: right;
}



.post {
  border-top: 2px outset;
  padding-top: 5px;
}

.avatar-wrapper {
  float: left;
}

.post-wrapper {
  // 目前設定，開關這個選項有助於 RWD 
  /* overflow: hidden; */
  margin-bottom: 10px;

  .post-header {
    @include distance-between-avatar-text;

    @media (max-width: $screen-xs-max) { 
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
    }
    @media (min-width: $screen-lg-min) { 
    }
    overflow: auto;

    .post-username {
      float: left;
      /* padding-left: 5px; */
    }

    .post-time {
      float: right;
    }
  }

  .post-content {
    @include distance-between-avatar-text;

    @media (max-width: $screen-xs-max) { 
      clear: both;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
      margin-top: 20px;
      overflow: hidden;
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
      margin-top: 20px;
      overflow: hidden;
    }
    @media (min-width: $screen-lg-min) { 
      margin-top: 20px;
      overflow: hidden;
    }
  }
}

.comment-wrapper {
  padding-top: 5px;
  border-top: 2px outset;
  margin-bottom: 20px;
  margin-left: 50px;

  clear: both;
  .comment-header {
    @include distance-between-avatar-text;

    @media (max-width: $screen-xs-max) { 
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
    }
    @media (min-width: $screen-lg-min) { 
    }
    overflow: auto;

    .comment-username {
      float: left;
    }

    .comment-time {
      float: right;
    }
  }

  .comment-body {
    @include distance-between-avatar-text;

    @media (max-width: $screen-xs-max) { 
      clear: both;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
      margin-top: 20px;
      overflow: hidden;
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
      margin-top: 20px;
      overflow: hidden;
    }
    @media (min-width: $screen-lg-min) { 
      margin-top: 20px;
      overflow: hidden;
    }
  }
}

